.contentWrap {
    padding: 24px;
    background-color: #FFFFFF;
    .imageWrap {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0 20px 0 0;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        .image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            max-width: 100%;
            max-height: 100%;

        }
    }
    .attributes {
        display: inline-block;
        padding-top: 4px;
        vertical-align: top;
        & > li {
            text-align: left;
            margin-bottom: 14px;
            & > * {
                display: inline-block;
                vertical-align: middle;
            }
            .label {
                width: 100px;
                margin-right: 20px;
            }
            .value {
                width: 200px;
            }
        }
    }
}